{% extends 'user/register.html' %}


{% block content %}
	<header>
		<div class="navbar py-1">
			<div class="container">
				<div class="navbar-brand">
					<img src="/static/images/logo1.png" alt="Deer Logo" height="80" width="80">
				</div>
				<div class="right-menu">
					<a href="{% url 'register' %}" class="nav-link" style="font-family: 'RocknRoll One', sans-serif; font-size: 16px;"><i class="fas fa-user-plus"></i> Sign Up </a>
				</div>
			</div>
		</div>
	</header>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <form class="login100-form validate-form flex-sb flex-w" action="{% url 'password_reset' %}" method="POST">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-32" style="font-size: 30px;">
                        Reset Password
                    </span>
                
                    <div class="note" style="padding-bottom: 5px;">
                        <p class="small">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                    </div>
                    
                    <div class="wrap-input100 validate-input m-b-36" data-validate = "Email is required">
                        <input class="input100" type="email" name="email" placeholder="Email">
                        <span class="focus-input100"></span>
                    </div>
                
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Send 
                        </button>
                    </div>
                </form>                
			</div>
		</div>
	</div>
{% endblock %}