{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %} BIO-SALAD | Sign Up {% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="shortcut icon" type="image/png" href="/static/images/edited-logo.png">
</head>
<body>

	{% block content %}
	<header>
		<div class="navbar py-1">
			<div class="container">
				<div class="navbar-brand">
					<a href="{% url 'home' %}" class="custom-logo-link"><img height="auto" width="150" src="/static/images/hd-logo.png" alt="Logo"></a> 
				</div>
				<div class="right-menu">
					<a href="{% url 'login_view' %}" class="nav-link" style="font-family: 'RocknRoll One', sans-serif; font-size: 16px;"><i class="fas fa-sign-in-alt"></i> Login </a>
				</div>
			</div>
		</div>
	</header>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<form class="login100-form validate-form flex-sb flex-w" action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
					<span class="login100-form-title p-b-32">
						Signup
					</span>

					{{ form.username.errors }}   
					<!--<span class="txt1 p-b-11">
						Username
					</span>-->
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>
                    
					{% if messages %}
						{% for message in messages %}
							{% if "username" in message.tags %}
							<div class="alert alert-danger" role="alert">
								{{ message }}
							</div>
							{% endif %}
						{% endfor %}
					{% endif %}
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Email is required">
						<input class="input100" type="email" name="email" placeholder="E-mail">
						<span class="focus-input100"></span>
					</div>
					
                    {{ form.password1.errors }}     
                    <!--<span class="txt1 p-b-11">
						Password
					</span>-->
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
						<input class="input100" type="password" name="password1" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					
                    {{ form.password2.errors }}
					<!--<span class="txt1 p-b-11">
						Confirm Password
					</span>-->
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Second Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
						<input class="input100" type="password" name="password2" placeholder="Confirm password">
						<span class="focus-input100"></span>
					</div>
					
					<div class="flex-sb-m w-full p-b-48">
						<!--<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>-->

						<div>
							<a href="{% url 'password_reset' %}" class="txt3">
								Forgot Password?
							</a>
						</div>
					</div>

					<div class="social-login" style="position: relative; bottom: 35px; width: 100%;">
						<div class="divider" style="text-align: center; padding-bottom: 20px;">
							<p>or</p>
						</div>
						<div class="form-group">
							<a href="{% provider_login_url "google" %}" type="button" class="btn btn-block border">
								<img src="/static/images/google_icon.svg" alt="" height="27" width="27" style="padding-right: 7px; padding-bottom: 3px;">
								<p style="display: inline-block;">Sign up with Google</p>
							</a>
						</div>
					</div>
					<br>
					<br>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Sign Up
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	{% endblock %}

	<footer class="py-4" style="background-color: #ebebeb; border-top: 1px thin #6A675C;">
		<div class="container">
			<p class="text-field">
				© 2021 BIO-SALAD All Rights Reserved
			</p>
		</div>
	</footer>

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/main.js"></script>
	<script src="https://kit.fontawesome.com/9d5b946528.js" crossorigin="anonymous"></script>

</body>
</html>